* {
    background-color: #f5ebe0;
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#homepage {
    border: 1px solid grey;
    border-radius: 5px;
    justify-content: center;
    text-align: center; 

}

#search-key{
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
}

h1{
    color: black;
}

ul, li{
    list-style-type: none;
    column-count: 2;
    place-items: center; 
}

#button{
    border-radius: 10px;
}

#homeimg{
    width: 300px;
}

.card{
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center; 
}

#searching, #error{
    justify-content: center;
    text-align: center; 
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#visual-card, #country-card, #allergen-card {
    padding: 20px;
}
#country-card{
    margin-top: 25px;
}


.chart {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 250px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px;
    margin-top: 20px;
}

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.bar {
    width: 45px;
    background-color: #d6ccc2;
    border-radius: 5px 5px 0 0;
}

.percent {
    margin-bottom: 6px;
    font-weight: bold;
}

.label {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
}

.error-message {
    color: rgb(144, 15, 15);
    margin-top: 10px;
    font-weight: bold;
}